div {
    margin-left: 20px;
}

h3 {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    background-color: cadetblue;
}

span {
    margin: 5px;
}
.container {
    margin-right: 0px;
    margin-left: 0px;    
}

.task-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: cyan;

}
.delete-task {
    background-color: red;
}