div {
    margin-left: 10px;
}
h3 {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 10px;
}
body {
    background-color: cadetblue;
}
span {
    margin: 5px;
}
.td {
    width: 300px;
}
.container {
    margin-right: 0px;
    margin-left: 0px;    
}
.delete-task {
    background-color: red;
}
.athlete {
    background-color: rgba(229, 0, 0, 0.7)
}
.polished-mirror {
    background-color: rgba(229, 103, 0, 0.7)
}
.connection-and-leadership {
    background-color: rgba(250, 237, 50, 0.7)
}
.expand-professionally {
    background-color: rgba(172, 205, 3, 0.7)
}
.security-and-investment {
    background-color: rgba(55, 156, 0, 0.7)
}
.work-projects {
    background-color: rgba(0, 228, 224, 0.7)
}
.technologist {
    background-color: rgba(0, 31, 228, 0.7)
}
.luxury-and-adventure {
    background-color: rgba(182, 1, 228, 0.7)
}

.most-important{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: cyan;
    width: 250px;
}

#td-where {
    width: 130px;
}
#td-when {
    width: 100px;
}
#td-task {
    width: 175px;
}
#td-area {
    width: 100px;
}
#td-project {
    width: 130px;
}