{% extends 'tasks/main.html' %}

{% block content %}

<h3>Areas of Focus</h3>
<div class="container">
<div>
<form method="POST" action='/'>
    {% csrf_token %}
    <p class="item-row">{{form.aof}}<span>aof</span></p>
    <p class="item-row">{{form.describe}}<span>describe</span></p>    
    <input type="submit" name="Create Area">
</form>
</div>

<div class="col-m">

    <table>
        <tr><span class="athlete">Athlete</span>
        </tr>
        <br />
        <tr><span class="polished-mirror">Polished Mirror</span>
        </tr>
        <br />
        <tr>
            <span class="connection-and-leadership">Connection and Leadership</span>
        </tr>
        <br />
        <tr>
            <span class="expand-professionally">Expand Professionally</span>
        </tr>
        <br />
        <tr>
            <span class="security-and-investment">Security and Investment</span>
        </tr>
        <br />
        <tr>
            <span class="work-projects">Work Projects</span>
        </tr>
        <br />
        <tr>
            <span class="technologist">Technologist</span>
        </tr>
        <br />
        <tr>
            <span class="luxury-and-adventure">Luxury and Adventure</span>
        </tr>

    </table>
    <!-- {% for area in area %}
        <span class="aof">{{area.aof}} </span> 
        <span>{{area.describe}} </span>
<br />
{% endfor %} -->
</div>
</div>


{% endblock %}
