{% extends 'tasks/main.html' %}

{% block content %}

<h3>Areas of Focus</h3>
<div class="container">
<div>
<form method="POST" action='/'>
    {% csrf_token %}
    <p class="item-row">{{form.aof}}<span>aof</span></p>
    <p class="item-row">{{form.describe}}<span>describe</span></p>    
    <input type="submit" name="Create Area">
</form>
</div>

<div class="col-sm">
    {% for area in area %}
        <span class="aof">{{area.aof}} </span> 
        <span>{{area.describe}} </span>
<br />
{% endfor %}
</div>
</div>


{% endblock %}
