{% extends 'tasks/main.html' %}

{% block content %}

<h3>Areas of Focus</h3>
<div class="container">
<div>
<form method="POST" action='/'>
    {% csrf_token %}
    <p class="item-row">{{form.aof}}<span>aof</span></p>
    <p class="item-row">{{form.describe}}<span>describe</span></p>    
    <input type="submit" name="Create Area">
</form>
</div>

<div class="col-m">

    <table>
        <tr><span class="athlete">Athlete</span>
        </tr>
        <br />
        <tr><span class="polished-mirror">Polished Mirror</span>
        </tr>
        <br />
        <tr>
            <span class="connection-and-leadership">Connection and Leadership</span>
        </tr>
        <br />
        <tr>
            <span class="expand-professionally">Expand Professionally</span>
        </tr>
        <br />
        <tr>
            <span class="security-and-investment">Security and Investment</span>
        </tr>
        <br />
        <tr>
            <span class="work-projects">Work Projects</span>
        </tr>
        <br />
        <tr>
            <span class="technologist">Technologist</span>
        </tr>
        <br />
        <tr>
            <span class="luxury-and-adventure">Luxury and Adventure</span>
        </tr>

    </table>


</div>
<div class="col-sm">
    {% for aof in area %}
    <table>
      <tbody id="contentitems">
      <tr>
        <td id="td-area">
            <span class="most-important">_a_{{task.area}} </span>
        </td>
        <td id="td-project">
            <span>#{{task.project}} </span>
        </td>
        <td id="td-task">
          <span>_{{title}}</span>
        </td>
        {% endfor %}

      </tr>
    </tbody>
    </table>
    <br />
</div>
</div>


{% endblock %}
