
{% extends 'tasks/main.html' %}
{% load static %}

{% block content %}
{% endblock %}


<div class="mosca">
<h3>Tasks</h3>

<form method="POST" action='/'>
    {% csrf_token %}
    <div class="item-row">{{form.title}}<span>title</span></div>
    <div class="item-row">{{form.project}}<span>project</span></div>
    <div class="item-row">{{form.area}}<span>area</span></div>
    <div class="item-row">{{form.when}}<span>when</span></div>
    <div class="item-row">{{form.where}}<span>@</span></div>    
    <!-- <div class="item-row">{{form.complete}}<span>complete?</span></div> -->

    <div class="item-row"><input type="submit" name="Create Task"></div>
</form>
</div>

<div>
{% for task in tasks %}
<div>
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete' task.id %}">Delete</a>

  {% if task.complete == True %}
    <strike>{{task}}</strike>
  {% else %}
    <span>{{task}}</span>
    {% endif %}
</div> 
</div>

{% endfor %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>

