{% load static %}

<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $("span").filter(":contains(athlete)").css("background-color", "rgba(229, 0, 0, 0.7)");
    $("span").filter(":contains(mirror)").css("background-color", "rgba(229, 103, 0, 0.7)");
    $("span").filter(":contains(connection)").css("background-color", "rgba(250, 237, 50, 0.7)");
    $("span").filter(":contains(expand-professionally)").css("background-color", "rgba(229, 0, 0, 0.7)");
    $("span").filter(":contains(security)").css("background-color", "rgba(55, 156, 0, 0.7)");
    $("span").filter(":contains(work)").css("background-color", "rgba(0, 228, 224, 0.7)");
    $("span").filter(":contains(technologist)").css("background-color", "rgba(0, 31, 228, 0.7)");
    $("span").filter(":contains(luxury)").css("background-color", "rgba(182, 1, 228, 0.7)");
  });
  </script>
<script>
  $(document).ready(function(){

  </script>

</head>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Todo</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area">Area</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="/when">When</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="/where">@</a>
        </li>

      </ul>
    </div>
</nav>


{% block content %}


{% endblock %}

<button>Click me</button>

</body>
</html>

