{% extends 'tasks/main.html' %}

{% block content %}

<h3>Where</h3>

<div>
    {% for task in tasks %}
    <table>
      <tr>
        <td id="td-where">
      <span class="most-important">@ {{task.where}} </span>
        </td>
        <td id="td-task">
          <span>{{task}}</span>
            </td>
        <td id="td-when">
      <span>/// {{task.when}} </span>
        </td>
        
        <td id="td-project">
      <span>#{{task.project}} </span>
        </td>
        <td id="td-area">
          <span>{{task.area}}</span>
            </td>
        <td class="td5">
      <a href="{% url 'update_task' task.id %}">Update</a>
      <a class="danger" href="{% url 'delete' task.id %}">Delete</a>
        </td>
      </tr>
    </table>
    <br />


    {% endfor %}
    </div>
{% endblock %}

<!-- <script>
  var where = [{where}];
  document.getElementsByClassName("most-important").innerHTML = where;

  function myFunction() {
    where.sort();
    where.reverse();
    document.getElementsByClassName("most-important").innerHTML = where;
  }
</script> -->

