{% extends 'tasks/main.html' %}

{% block content %}

<h3>Where</h3>

<div>
    {% for task in tasks %}
    <table>
      <tr>
        <td>
      <span  class="most-important">@{{task.where}} </span>
        </td>
        <td class="td2">
      <span>///{{task.when}} </span>
        </td>
        <td class="td3">
      <span> {{task}} </span>
        </td>
        <td class="td4">
      <span>#{{task.project}} </span>
        </td>
        <td>
          <span class="aof">[aof] {{task.area}} </span>
            </td>
        <td class="td5">
      <a href="{% url 'update_task' task.id %}">Update</a>
      <a class="danger" href="{% url 'delete' task.id %}">Delete</a>
        </td>
      </tr>
    </table>
    <br />

    {% endfor %}
    </div>
{% endblock %}

<script></script>